[Unit]
Description=sgopherd per-connection server

[Service]
User=http
ExecStart=/usr/bin/sgopherd -n myhostname -r /srv/gopher
StandardInput=socket
StandardOutput=socket
StandardError=syslog
